.upload-item {
  display: flex;
  padding: 0.5rem;
  background: rgb(246, 246, 246);
  gap: 1rem;
}

.upload-item__preview {
  min-width: 100px;
}

.upload-item__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  position: relative;
  overflow: hidden;

  .name {
    margin-right: 25px;
    text-overflow: ellipsis;
    overflow: hidden
  }
  
  .percentage {
    text-align: right;
  }
  
  .progress-wrapper {
    width: 100%;
    height: 3px;
    background: white;
    
    .progress {
      background: rgb(115, 178, 202);
      height: 100%;
    }
  }
  
  .actions {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
  }
}